.uiFunction {
  gap: 0.25rem;
}

.uiFunctionLevel1, .uiFunctionSameLineLevel2 {
  display: flex;
  align-items: center;
}

.uiParameterGroup {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.uiParameterGroupLevel2 {
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.uiParameters {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 0.5rem;
}

.uiSymbol {
  font-size: 1.5rem;
  line-height: 1;
  transform: translateY(-2px);
}

.uiFunctionList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
