.uiType {
  width: var(--ui-type-size);
  height: var(--ui-type-size);
  border-radius: var(--ui-type-border-radius);
}

.uiTypeGrid {
  display: inline-grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
}
