:root {
  /* color-scheme: light dark; */

  --ui-text-color: #424242;

  --ui-type-size: 3rem;
  --ui-type-border-radius: 0.5rem;
}

html {
  color: var(--ui-text-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Utility classes */
.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
