.uiCodebase {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 300px);
  flex-grow: 1;
}

.uiLayout {
  display: flex;
  align-items: flex-start;
}

.uiSelectedFile {
  position: sticky;
  top: 1rem;
  width: 592px;
}
